*{
    margin: 0;
    padding: 0;
}

body { 
    font-family: Arial, "sans-serif";
    font-size: 20px;
    line-height: 1.4em;
    
    background-color: #ffffff;
}


h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}
.nameroom {
    text-align: center;
    padding: 10px 0 10px 0;
}
.room {
    width: 80%;
    margin-left: 10%;
    background-color: bisque;
    height: auto;
    overflow: hidden;
}

.room li {
    list-style-type: none;
}

.room ul {
    width: 45%;
    margin-left: 5%;
    float: left;
    height: auto;
    
}
.room .lista-1 li {
    padding-bottom: 5%;
}
.room .lista-2 li {
    padding-bottom: 3%;
}
.info {
    height: 250px;
    width: 100%;
}

.settings {
    float: left;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
}
.settings p {
    text-align: center;
    
}

.buttons button {
    margin-top: 10px;
    float: left;
    padding: 2px 2px 2px 2px;
    border: 1px solid grey;
    background-color: aqua;
    margin-left: 10px;
}
.buttons div {
    margin-top: 12px;
    float: left;
    padding: 3px 3px 3px 3px;
    border: 1px solid grey;
    background-color: aqua;
    margin-left: 10px;
}

.incdec p {
    font-size: 30px;
}
.incdec {
    width: 7%;
    border-radius: 10px 10px 10px 10px;
}

.value {
    width: 15%;
}
.buttons .confirm {
    margin-left: 20%;
    width: 20%;
    font-size: 85%;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
}

#addroom {
    margin: 20px 78% 0 10%;
    padding: 3px 3px 3px 3px;
    border: 2px solid black;
    font-size: 90%;
}

.rooms {
    margin: 30px 5% 30px 5%;
    background-color: darkorange;
    width: 40%;
    height: 300px;
    float: left;
    position: relative;
}

.cancelButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 6%;
    height: 6%;
}


.setRooms {
    width: 30%;
    margin: 10px 0 10px 35%;
    background-color: gainsboro;
    border: 2px solid grey;
    font-size: 15px;
    display: none;
}

.setRooms li {
    list-style-type: none;
    display: inline;
}

.setRooms li p {
    width: 50%;
    float: left;
}
.setRooms li form {
    width: 50%;
    float: left;
}

